{% extends "base.html.twig" %}
{% block title%}Me présenter sur Internet{% endblock %}

{% block  body %}
<h1>Bienvenue sur mon site !</h1>
<h4>Alexis Fragne</h4>
<h5>Date de naissance : 07 octobre 2002</h5>
<div class="Image_Accueil"></div>

{% endblock %}
