<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Accueil</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/cv" style="text-decoration:none">Profil</a>
                <a href="/competences" style="text-decoration:none">Mes compétences</a>    
                <a href="/formulaire" style="text-decoration:none">Contact</a>
            </li>
        </ul>
         <a href="/loisir"> <button class="btn btn-secondary my-2 my-sm-0" type="submit">Pour en savoir plus</button></a>
    </div>
</nav>  
